<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="48F8C18E-F42F-4C1D-A07C-28E309E29D5E" Name="ovh_transfer_setup" Language="1033" Version="1.0.0.0" Manufacturer="Nevoweb" UpgradeCode="78a90fcb-02ad-40b3-ad2d-6dbda0cebbdc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of ovh-transfer is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ovh_transfer_setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ovh_transfer_setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
        <File Source="$(var.ovh-transfer.TargetPath)" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>